{% extends "base/index.html" %}
{% block content %}
{% load static %}
    <section id="page-header" class="about-header">
      <h2>#GetToKnowUs</h2>
      <p>On our way of becoming the number one Bookstore in Nepal.</p>
    </section>

    <section id="about-head" class="section-p1">
      <img src="/static/images/about/bookban.jpg" alt="" />
      <div>
        <h2>Who Are We?</h2>
        <p>
            As of the present moment, Lending Library Book Shop is the sole 
            vendor of Books Lending Library and a local bookstore, based at Lakeside,
            Pokhara. Since 1991, Nepal Lending Library Book Shop has existed as a
            tiny island of peace in a fast-moving world. Thriving and growing 
            every year, the business that started from a post-card board selling 
            postcards to tourists in the heart of Lakeside has grown to be one
            of the hidden jewels of Pokhara with floor-to-ceiling stacks of
            books and a generally inclusive vibe that makes it seem like a 
            neighborhood spot for anyone and everyone. The bookshop is one of 
            the largest book distributors in Nepal. The shelves store an endless 
            choice of books and the catalogue is always growing. You can take time 
            browsing the seemingly endless selection of rare coffee table books 
            and attractive souvenir items.
        </p>
      </div>
    </section>

 

    <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up For Newsletter</h4>
        <p>
          Get E-mail updates about our latest shop and
          <span>special offers.</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your email address" />
        <button class="normal">Sign Up</button>
      </div>
    </section>

  {% endblock %}