<nav aria-label="Page navigation example" class="mt-4">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>

    {% else %}
    <li class="page-item"><a class="page-link disabled" >Previous</a></li>
    {% endif %}

  <li class="page-item d-flex align-items-center mx-2">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </li>
  {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>

  {% else %}
    <li class="page-item"><a class="page-link disabled" >Next</a></li>
  {% endif %}
  </ul>
</nav>